# ===== STARBOT =====
STARBOT_TOKEN=bot_token_here
STARBOT_CLIENT_ID=client_id
STARBOT_GUILD_ID=guild_id

# Channel where all active notifications are displayed and updated
STARBOT_NOTIFICATIONS_BOARD_CHANNEL=channel_id

# ===== DISCORD WEBHOOK (OPCJONALNE) =====
DISCORD_LOG_WEBHOOK_URL=webhook_url_here
